# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore local development configuration files
.env
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore Git-related files
.git
.gitignore

# Ignore build output
dist

# Ignore dependency management files
package-lock.json

# Ignore devcontainer configuration
.devcontainer/

# Ignore GitHub workflows
.github/

# Ignore other unnecessary files
*.md
LICENSE